body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  color: #224;
  font-family: sans-serif;
}

body > h1, body > h2, body > h3 {
  padding-top: 1rem;
  text-align: center;
}
section, header {
  padding: 0.1rem;
}
@media (min-width: 22rem) {
  body > h1, body > h2, body > h3 {
    margin: 2rem;
  }
  section, header {
    padding: 1rem;
  }
}
section {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
section:nth-of-type(even) {
  flex-direction: row-reverse;
}
section > .content-add {
  width: 20rem;
}
section > .content-add > img {
  width: 20rem;
  max-width: 100%;
}
@media(min-width: 70rem) {
  section > .content-add,
  section > .content-add > img{
    width: 30rem;
  }
}
section > .content {
  flex: 1;
  box-sizing: border-box;
  max-width: 50rem;
  border: 0 solid #0063b1;
  padding: 0 0.3rem;
}
@media (min-width: 22rem) {
  section > .content {
    min-width: 20rem;
  }
}
@media (min-width: 42.6rem) {
  section:nth-of-type(even) > .content {
    border-left-width: 0.2rem;
    padding: 0;
    padding-left: 0.4rem;
  }
  section:nth-of-type(odd) > .content {
    border-right-width: 0.2rem;
    padding: 0;
    padding-right: 0.4rem;
  }
}
@media(min-width: 70rem) {
  section:nth-of-type(even) > .content {
    padding-left: 1rem;
  }
  section:nth-of-type(odd) > .content {
    padding-right: 1rem;
  }
}

section.highlight {
  background-color: #0063b1;
  color: #ecf0f1;
}

p {
  font-size: 1.1rem;
}


h1 {
  font-size: 2.3rem;
  padding: 0.7rem;
}
header {
  background:
    linear-gradient(transparent 35vh, #ecf0f1),
    url(./img/group.jpg);
  padding-top: 10rem;
  padding-top: 60vh;
  background-size: cover;
  background-position: center;
}
header > * {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  display: block;
}

footer {
  background:
    linear-gradient(#ecf0f1, transparent),
    url(./img/fallen.jpg);
  padding-top: 50vh;
  background-size: cover;
  background-position: center;
  margin-top: auto;
  border-top: 3rem solid #ecf0f1;
}



/* Infobox */
.infobox {
  box-sizing: border-box;
  padding: 0.5rem;
}
.infobox > dt {
  font-size: 90%;
  color: #555;
}
.infobox > dd {
  margin-left: 1rem;
}
